/* home */
.home {
    width: 100%;
}

/* home hero, main, extra */
.home-hero,
.home-main,
.home-extra {
    min-height: 100vh;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/*  home hero */
.home-hero {
    background-color: #d8d4bc;
}
